<html>
    <head>
        <title>Website</title>
    </head>
    <body style = "background-color:#d0f190">
        <strong><h1 style="font-size:350%; color:#ff3d03 "><center>Pokemon types available in the Pokedex</center></h1></strong>
        <div id= "title", name="title">
            <center><h1>
                {% block title %}
                {% endblock %}
            </h1></center>
        </div>

        <div id= "content", name="content">
            
            {% block content %}
            {% endblock %}
            
        </div>

        <div>
            {% block get_output %}
                <ul>
                    {% for i in response.results %}
                    <h2 style="font-size:30px"><li> 
                        {{i.name}}
                        {%endfor%}     
                    </h2></li>      
                </ul> 
            {%endblock%}
        </div>  
    </body>
</html>